In [1]:
import seaborn as sns
from vizproo import  ScatterPlot, RadViz, StarCoordinates, Button, MatrixLayout
from sklearn.manifold import TSNE
import pandas as pd
import numpy as np

In [2]:
# Cargar el dataset iris de seaborn
iris = sns.load_dataset("iris")
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
from vizproo import MatrixCreator
m =MatrixCreator(
    rows=5,
    columns=4
)
m

MatrixCreator(columns='4', rows='5')

In [5]:
plot1 = RadViz(data=iris, dimensions=['sepal_length','sepal_width','petal_width','petal_length'], hue='species')
plot2 = StarCoordinates(data=iris, dimensions=['sepal_length','sepal_width','petal_width','petal_length'], hue='species')

button = Button(description="Calculate TSNE")

scatterplot = ScatterPlot(data=pd.DataFrame(), x='dim1', y='dim2', hue='color')

def on_plot1_selected(change):
    df = plot1.selectedValues
    # Actualiza plot2 cuando HAY selección; si no, puedes limpiar o restaurar
    if not df.empty:
        plot2.data = df
    else:
        plot2.data = iris  # o pd.DataFrame()

plot1.on_select_values(on_plot1_selected)

def calculate_TSNE(_):
    # Usa la selección si existe; si no, usa todo el iris
    df = plot1.selectedValues if not plot1.selectedValues.empty else iris
    X = df[plot1.dimensions].values       # solo columnas numéricas
    y = df['species'].astype(str).values  # etiquetas alineadas con X

    # Asegura una perplexity válida: < n_samples
    n = len(df)
    if n < 3:
        return  # muy pocos puntos para t-SNE
    perplexity = min(30, max(5, n - 1))

    tsne = TSNE(n_components=2, random_state=42, perplexity=perplexity)
    X_tsne = tsne.fit_transform(X)

    tsne_df = pd.DataFrame({
        'dim1': X_tsne[:, 0],
        'dim2': X_tsne[:, 1],
        'color': y
    })
    scatterplot.data = tsne_df

button.on_click(calculate_TSNE)

matrix = m.data
matrixLayout = MatrixLayout(matrix)
matrixLayout.add(plot1, 1)
matrixLayout.add(plot2, 2)
matrixLayout.add(button, 3)
matrixLayout.add(scatterplot, 4)
matrixLayout

RadViz(dataRecords=[{'sepal_length': 5.1, 'sepal_width': 3.5, 'petal_length': 1.4, 'petal_width': 0.2, 'specie…

StarCoordinates(dataRecords=[{'sepal_length': 5.1, 'sepal_width': 3.5, 'petal_length': 1.4, 'petal_width': 0.2…

Button(description='Calculate TSNE', elementId='IdYDBoohls')

ScatterPlot(elementId='sqoDwSzvRV', hue='color', x='dim1', y='dim2')

MatrixLayout(grid_areas=['cNphDRRvJu', 'SBoIIqelED', 'IdYDBoohls', 'sqoDwSzvRV'], grid_template_areas='\n"cNph…

In [7]:
plot1.selectedValues

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            5.0          3.6           1.4          0.2  setosa
3            5.0          3.4           1.5          0.2  setosa
4            4.9          3.1           1.5          0.1  setosa
5            5.4          3.7           1.5          0.2  setosa
6            4.8          3.0           1.4          0.1  setosa
7            5.8          4.0           1.2          0.2  setosa
8            5.7          4.4           1.5          0.4  setosa
9            5.4          3.9           1.3          0.4  setosa
10           5.7          3.8           1.7          0.3  setosa
11           5.4          3.4           1.7          0.2  setosa
12           5.0          3.0           1.6          0.2  setosa
13           5.2          3.5           1.5          0.2  setosa
14           5.2          3.4           1.4          0.2  setosa
15           5.4          3.4           1.5          0.4  setosa
16           5.5          4.2           1.4          0.2  setosa
17           4.9          3.1           1.5          0.2  setosa
18           5.0          3.2           1.2          0.2  setosa
19           5.5          3.5           1.3          0.2  setosa
20           5.1          3.4           1.5          0.2  setosa
21           5.1          3.8           1.6          0.2  setosa
22           5.3          3.7           1.5          0.2  setosa
23           5.0          3.3           1.4          0.2  setosa

In [8]:
plot2.selectedValues

   sepal_length  sepal_width  petal_length  petal_width species
0           5.8            4           1.2          0.2  setosa